<%= render 'shared/errors', obj: @article %> 

<div class="container row">
    <div class="col-xs-12">
    <%= form_for @article do |f| %>
        <!-- For title -->
        <div class="form-group row distance">
            <div class="col-sm-2 col-form-label">
            <%= f.label :title %>
            </div>

            <div class="col-sm-6">
            <%= f.text_field :title, class: "form-control",  placeholder: "Title of Article", autofocus: true %>
            </div>
        </div>

        <!-- for description -->
        <div class="form-group row distance">
            <div class="col-sm-2 col-form-label">
            <%= f.label :descriprion %>
            </div>

            <div class="col-sm-6">
            <%= f.text_area :description, rows: 10, class: "decription_custom", class: "form-control",  placeholder: "Description of Article", autofocus: true %>
            </div>
        </div>              

        <!-- for submit button -->
        <div class="submitcustom form-group row distance center">
            <div class="col-sm-10">
            <%= f.submit class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>

        <!-- Link for go back to all listing articles -->
        <div class="col-xs-4 col-xs-offset-4">
            [ <%= link_to "Back to Articles Listing", articles_path %> ]
        </div>
    </div>
</div>