<h1 class="center">All Listing Articles</h1>

<!-- to add page numbers -->
<div class="center_pagination digg_pagination">
    <div class=”col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info”>
    <%= will_paginate @articles %>
        <span class=”pull-right”>
            <%= page_entries_info(@articles) %>
        </span>
    </div>
</div>


<%= render 'article', obj: @articles %>

<!-- to add page numbers -->
<div class="center_pagination digg_pagination">
    <div class=”col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info”>
    <%= will_paginate @articles %>
        <span class=”pull-right”>
            <%= page_entries_info(@articles) %>
        </span>
    </div>
</div>