<div class="center">
    <h1>Welcome to <%= @user.username %>'s page</h1>

    
            <%= gravatar_for @user, size: 100 %>
     

    <h4 div="center"><%= @user.username %>'s articles</h4>

    <!-- to add page numbers -->
<div class="center_pagination digg_pagination">
    <div class=”col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info”>
    <%= will_paginate @user_articles %>
        <span class=”pull-right”>
            <%= page_entries_info(@user_articles) %>
        </span>
    </div>
</div>

    <%= render 'articles/article', obj: @user_articles %>
</div>